@import '../node_modules/material-design-lite/src/color-definitions';

$color-primary: $palette-light-blue-50;
$color-primary-dark: $palette-light-blue-50;
$color-accent: $palette-light-blue-50;
$color-primary-contrast: $palette-light-blue-50;
$color-accent-contrast: $palette-light-blue-50;
